body {
    background:#222629;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.assignments {
    display: flex;
    flex-wrap: wrap;
}

.assignment { 
    width: 270px;
    padding: 10px;
    margin: 20px;
    background: #474B4F;
    border-radius: 10px;
    box-shadow: 5px 3px #61892F;
}

.assignment img {
    width: 200px;
    padding:4px;
    border: 2px solid #86C232;
    margin-right: 20px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.assignment img:hover {
    border-color: white;
}

h1 {
    color: #61892F;
    text-align: center;
}

.assignment a:hover {
    color: white;
}

a {
    text-decoration: none;
    color: #86C232;
}

p {
    color: white;
}