body {
    background:#222629;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.assignment {
    display: flex;
    padding: 10px;
    margin: 20px;
    background: #474B4F;
}

.assignment img {
    width: 200px;
    padding:4px;
    border: 2px solid #86C232;
    margin-right: 20px;
}

h1 {
    color: #61892F;
    text-align: center;
}

a {
    text-decoration: none;
    color: #86C232;
}

p {
    color: white;
}